.trivia-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
  align-items: center;
  position: absolute;
  text-align: center;
  background-color: rgb(10, 216, 199);
  padding: 10px;
  border-radius: 1rem;
  width: 250px;
  z-index: 3;
  top: 10.5vh;
  left: 50%;
  margin-left: -126px;
  opacity: 1;
  transition: top 1s ease, opacity 0.5s;
  font-size: 0.6em;
  border:4px solid black;
}

.trivia-hidden {
  top: -10.5vh;
  opacity: 0;
  z-index: -1;
}

#trivia-title {
    font-size: 1.2em;
}

#trivia-dismiss:hover {
  background-color: black;
  color: white;
}
