.arrow {
    transition-property: transform;
    transition-duration: 2s;
}

.rotate-10 {
    transform: rotate(10deg);
}

.rotate-20 {
    transform: rotate(20deg);
}

.rotate-30 {
    transform: rotate(30deg);
}

.rotate-40 {
    transform: rotate(40deg);
}

.rotate-50 {
    transform: rotate(50deg);
}

.rotate-60 {
    transform: rotate(60deg);
}

.rotate-70 {
    transform: rotate(70deg);
}

.rotate-80 {
    transform: rotate(80deg);
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-100 {
    transform: rotate(100deg);
}

.rotate-110 {
    transform: rotate(110deg);
}

.rotate-120 {
    transform: rotate(120deg);
}

.rotate-130 {
    transform: rotate(130deg);
}

.rotate-140 {
    transform: rotate(140deg);
}

.rotate-150 {
    transform: rotate(150deg);
}

.rotate-160 {
    transform: rotate(160deg);
}

.rotate-170 {
    transform: rotate(170deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-190 {
    transform: rotate(190deg);
}

.rotate-200 {
    transform: rotate(200deg);
}

.rotate-210 {
    transform: rotate(210deg);
}

.rotate-220 {
    transform: rotate(220deg);
}

.rotate-230 {
    transform: rotate(230deg);
}

.rotate-240 {
    transform: rotate(240deg);
}

.rotate-250 {
    transform: rotate(250deg);
}

.rotate-260 {
    transform: rotate(260deg);
}

.rotate-270 {
    transform: rotate(270deg);
}

.rotate-280 {
    transform: rotate(280deg);
}

.rotate-290 {
    transform: rotate(290deg);
}

.rotate-300 {
    transform: rotate(300deg);
}

.rotate-310 {
    transform: rotate(310deg);
}

.rotate-320 {
    transform: rotate(320deg);
}

.rotate-330 {
    transform: rotate(330deg);

}

.rotate-340 {
    transform: rotate(340deg);
}

.rotate-350 {
    transform: rotate(350deg);
}

.rotate--10 {
    transform: rotate(-10deg);
}

.rotate--20 {
    transform: rotate(-20deg);
}

.rotate--30 {
    transform: rotate(-30deg);
}

.rotate--40 {
    transform: rotate(-40deg);
}

.rotate--50 {
    transform: rotate(-50deg);
}

.rotate--60 {
    transform: rotate(-60deg);
}

.rotate--70 {
    transform: rotate(-70deg);
}

.rotate--80 {
    transform: rotate(-80deg);
}

.rotate--90 {
    transform: rotate(-90deg);
}

.rotate--100 {
    transform: rotate(-100deg);
}

.rotate--110 {
    transform: rotate(-110deg);
}

.rotate--120 {
transform: rotate(-120deg);
}

.rotate--130 {
    transform: rotate(-130deg);
}

.rotate--140 {
    transform: rotate(-140deg);
}

.rotate--150 {
    transform: rotate(-150deg);
}

.rotate--160 {
    transform: rotate(-160deg);
}

.rotate--170 {
    transform: rotate(-170deg);
}

.rotate--180 {
    transform: rotate(-180deg);
}

.rotate--190 {
    transform: rotate(-190deg);
}

.rotate--200 {
    transform: rotate(-200deg);
}

.rotate--210 {
    transform: rotate(-210deg);
}

.rotate--220 {
    transform: rotate(-220deg);
}

.rotate--230 {
    transform: rotate(-230deg);
}

.rotate--240 {
    transform: rotate(-240deg);
}

.rotate--250 {
    transform: rotate(-250deg);
}

.rotate--260 {
    transform: rotate(-260deg);
}

.rotate--270 {
    transform: rotate(-270deg);
}

.rotate--280 {
    transform: rotate(-280deg);
}

.rotate--290 {
    transform: rotate(-290deg);
}

.rotate--300 {
    transform: rotate(-300deg);
}

.rotate--310 {
    transform: rotate(-310deg);
}

.rotate--320 {
    transform: rotate(-320deg);
}

.rotate--330 {
    transform: rotate(-330deg);

}

.rotate--340 {
    transform: rotate(-340deg);
}

.rotate--350 {
    transform: rotate(-350deg);
}
