.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 110%;
  max-width: 100%;
  z-index: 1;
  transition-property: transform;
  transition-duration: 2s;
}

.wind-component {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 90%;
  width: 90%;
  margin: 2vw 2vh;
}

.wind-component-left {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.wind-component-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  width: 50%;
}

.wind-speed {
  font-size: calc(10px + 35vmin);
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.wind-speed p {
  font-size: calc(10px + 20vmin);
  z-index: 2;
}

.wind-gusts {
  font-size: calc(10px + 4vmin);
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.wind-direction {
  font-size: calc(10px + 2.5vmin);
  font-weight: 600;
}

.wind-anamometer {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.metar-abbr {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sky-conditions {
  font-size: calc(10px + 3vmin);
  font-weight: 600;
}

.mini {
  font-size: calc(10px + 2.5vmin);
  font-weight: 400;
}

.metar {
  font-size: calc(10px + 3vmin);
}
