.my-csc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.my-csc-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.my-small {
  font-size: calc(8px + 1.5vmin);
  margin-bottom: 1vmin;
}

.me-label {
  font-size: calc(8px + 2vmin);
}

.me-title {
  display: flex;
  flex-direction: column;
}

.me-details {
  font-size: calc(8px + 1.5vmin);
}

#me-help {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

#me-help:hover {
  color: white;
}

#clear-me-form:hover {
  background-color: rgb(114, 114, 114);
}
