.my-csc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(17, 17, 17, 0.3);
  padding: 20px;
  border-radius: 15px;
  min-width: 280px;
}

.mylight {
  background-color: rgba(214, 214, 208, 0.5);
}

.my-csc-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.my-small {
  font-size: calc(8px + 1.5vmin);
  margin-bottom: 1vmin;
}

.me-label {
  font-size: calc(8px + 2vmin);
  font-weight: 600;
}

.me-title {
  display: flex;
  flex-direction: column;
}

.me-details {
  font-size: calc(8px + 1.5vmin);
}

#me-help {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

@media (hover: hover) {
  #me-help:hover {
    color: white;
  }

  #clear-me-form:hover {
    background-color: rgb(114, 114, 114);
  }
}
