.wind-aloft-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table {
    width: 100%;
    max-width: 600px;
    text-align: center;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
}
.table {
    border: 2px solid rgb(0, 0, 0);
    font-weight: 700;
}
.table-light {
    border: 2px solid rgb(0,0,0);
    font-weight: 700;
}
th {
    font-weight: 100;
    font-size: calc(10px + 1vmin);
}
.aloft-title {
    font-weight: 100;
    font-size: calc(8px + 1vmin);
    text-align: center;
}
