.safety-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 68vh;
    margin-top: 2vh;
    gap: 2vh;
    overflow-y: scroll;
}

.safety-card img {
    width: auto;
    max-height: 50vw;
    max-width: 1000px;
}

#safety-title {
    font-size: .9rem;
}
.safety-card a {
    font-size: 1rem;
}
.safety-card a:hover {
    color: white;
}
