.nav-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
  height: 8vh;
  font-size: calc(10px + 1.6vmin);
  font-weight: 700;
}

.nav-component a {
  color: rgb(8, 228, 209);
}

.light a {
  color: black;
}

.nav-top-half {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 2vw;
  height: 8vh;
  font-size: calc(10px + 1.6vmin);
  font-weight: 700;
}

.nav-bottom-half {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 2vw;
  height: 8vh;
  font-size: calc(10px + 1.6vmin);
  font-weight: 700;
}

.navbutton {
  display: flex;
  align-items: center;
  outline: 2px solid black;
  padding: 0.3em 0.8em;
  border-radius: 5px;
  cursor: pointer;
  height: 3vh;
}

.navbuttonactive {
  display: flex;
  align-items: center;
  outline: 2px solid black;
  padding: 0.3em 0.8em;
  border-radius: 5px;
  cursor: pointer;
  height: 3vh;
  background-color: rgb(0, 0, 0);
}

.navbuttonactivelight {
  display: flex;
  align-items: center;
  outline: 2px solid black;
  padding: 0.3em 0.8em;
  border-radius: 5px;
  cursor: pointer;
  height: 3vh;
  background-color: rgba(8, 228, 209, 0.8);
}

.navbutton:hover {
  background-color: rgb(29, 201, 186);
}

.fa-external-link-alt {
  font-size: calc(10px + 1vmin);
  align-self: center;
}
