.metar-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  font-size: calc(6px + 1vmin);
  text-align: center;
}

.metar-container a {
  display: flex;
  font-size: calc(4px + 1vmin);
  text-align: center;
  margin: 0px 3vw;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.footer-jumprun {
  font-size: 1.2rem;
  color: rgb(74, 196, 49);
}
.footer-jumprun-loading {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-between;
  font-size: 1.2rem;
  color: rgb(74, 196, 49);
}

#scroll-container {
  overflow: hidden;
  width: 50%;
}

#scroll-text {
  /* animation properties */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: rgb(55, 165, 33);
  gap: 50vw;
  -moz-transform: translateX(200%);
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
  white-space: nowrap;
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(200%);
  }
  to {
    -moz-transform: translateX(-200%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(-200%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(200%);
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
  to {
    -moz-transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}
