.header-imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}

.header-imgs img {
  display: flex;
  max-width: 30px;
  max-height: 30px;
}

.time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.time-container img {
  height: 6vh;
}
