.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 7%,
    rgba(34, 34, 34, 0.9) 10%,
    rgba(34, 34, 34, 0.9) 90%,
    rgba(0, 0, 0, .5) 95%
  );
  font-size: calc(10px + 2vmin);
  color: rgb(74, 196, 49);
  overflow: hidden;
}

.Applight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 7%,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 0.5) 90%,
    rgba(0, 0, 0, .5) 95%
  );
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  overflow: hidden;
}

.loading {
  margin-top: 20px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  min-width: 100vw;
  color: rgb(255, 0, 0);
  text-shadow: 2px 2px 5px black;
  font-weight: bold;
}
.header-container-loadingarea {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  min-width: 100vw;
  color: rgb(255, 0, 0);
  text-shadow: 2px 2px 5px black;
  font-weight: bold;
}

.nav-container a {
  display: inline-flex;
  flex-direction: row;
  text-decoration: none;
  cursor: pointer;
}

.nav-container {
  z-index: 2;
}

.nav-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
  height: 8vh;
  font-size: calc(10px + 1.6vmin);
  font-weight: 700;
}

.nav-top-half {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 2vw;
  height: 8vh;
  font-size: calc(10px + 1.6vmin);
  font-weight: 700;
}

.nav-bottom-half {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 2vw;
  height: 8vh;
  font-size: calc(10px + 1.6vmin);
  font-weight: 700;
}

.navbutton {
  display: flex;
  align-items: center;
  outline: 2px solid black;
  padding: 0.3em 0.8em;
  border-radius: 10px;
  cursor: pointer;
  height: 3vh;
}

.navbuttonactive {
  display: flex;
  align-items: center;
  outline: 2px solid black;
  padding: 0.3em 0.8em;
  border-radius: 10px;
  cursor: pointer;
  height: 3vh;
  background-color: black;
}

.navbuttonactivelight {
  display: flex;
  align-items: center;
  outline: 2px solid black;
  padding: 0.3em 0.8em;
  border-radius: 10px;
  cursor: pointer;
  height: 3vh;
  background-color: rgb(74, 196, 49);
}

.navbutton:hover {
  background-color: rgb(90, 247, 59);
}

.fa-external-link {
  font-size: calc(10px + 1vmin);
  align-self: center;
}

.nav-component a {
  color: rgb(74, 196, 49);
}

.light a {
  color: black;
}

.chart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 76vh;
  width: 90%;
  z-index: 0;
}

.loadingarea-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 84vh;
  width: 90%;
  z-index: 0;
}


.gusts-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 74vh;
  width: 80%;
  margin-top: 2vh;
}

.radar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 74vh;
  width: 80%;
  margin-top: 2vh;
}

.detailed-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 74vh;
  width: 100%;
  margin-top: 2vh;
  overflow: scroll;
  overflow-x: hidden;
}

.my-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 74vh;
  width: 100%;
  margin-top: 2vh;
  overflow: scroll;
  overflow-x: hidden;
}

.detailed-contents,
.aloft-contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}

.gust-chart {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 95%;
  height: 98%;
}

.aloft-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 74vh;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 2vh;
}

.windy-radar, .aircraft-tracker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 76vh;
  width: 90%;
}

.windy-radar iframe, .aircraft-tracker iframe {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 2vh;
  align-items: center;
  width: 100%;
  height: 90%;
  border: none;
}

.hangar-cam-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 76vh;
  width: 80%;
}

.hangar-cam {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 2vh;
  align-items: center;
  width: 75%;
  max-height: auto;
}

#cam {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 8vh;
  min-width: 100vw;
  color: rgb(119, 119, 119);
  font-size: calc(10px + 1vmin);
}

.temp-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 3vw;
  padding-right: 1.2vw;
  font-size: calc(12px + 2vmin);
  text-align: right;
  cursor: pointer;
}

.temp-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}

.temp-logos img {
  max-width: 30px;
  max-height: 30px;
}

.theme-content {
  display: flex;
  flex-direction: row;
  margin-left: 0.5vw;
  height: 8vh;
  align-items: center;
  cursor: pointer;
}

.fa-solid {
  cursor: pointer;
}

.time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.time-container img {
  height: 6vh;
}

.time-component {
  font-size: calc(10px + 3vmin);
  text-align: center;
}

.wind-component {
  display: flex;
  flex-direction: row;
  /* outline: 1px solid red; */
  justify-content: space-around;
  height: 90%;
  width: 90%;
  margin: 2vw 2vh;
}

.wind-component-left {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.wind-component-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  width: 50%;
}

.wind-speed {
  font-size: calc(10px + 35vmin);
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.small {
  font-size: 40px;
  margin-left: -10px;
}

.wind-speed p {
  font-size: calc(10px + 20vmin);
  z-index: 2;
}

.wind-gusts {
  font-size: calc(10px + 4vmin);
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.gusting {
  font-weight: bold;
}

.wind-direction {
  font-size: calc(10px + 2.5vmin);
}

.wind-anamometer {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.metar-abbr {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 110%;
  max-width: 100%;
  z-index: 1;
}

.sky-conditions {
  font-size: calc(10px + 3vmin);
}

.mini {
  font-size: calc(10px + 2.5vmin);
}

.metar {
  font-size: calc(10px + 3vmin);
}

.student-wind-hold {
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: calc(10px + 0.5rem);
}
.red {
  color: red;
}
.green {
  color: rgb(0, 158, 0);
}
.yellow {
  color: yellow;
}

.my-csc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.my-csc-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.my-small {
  font-size: calc(8px + 1.5vmin);
  margin-bottom: 1vmin;
}
.me-label {
  font-size: calc(8px + 2vmin);
}


select {
  width: 100%;
  cursor: pointer;
  height: 2rem;
  border-radius: .5rem;
}
button {
  width: 100%;
  height: 30px;
  margin: 1vh;
  border: 2px solid inherit;
  border-radius: 5px;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  font-weight: 900;
}
button:hover {
  background-color: rgba(59, 59, 59, 0.411);
}

.me-details {
  font-size: calc(8px + 1.5vmin);
}

a {
  color: inherit;
}
a:hover {
  color: inherit;
}
.table a:hover {
  color: white;
}

.footer-jumprun {
  display: flex;
  flex-direction: column;
  font-size: 1.8vh;
}
.weather-hold {
  font-size: calc(10px + 1vmin);
  font-weight: 700;
  margin-bottom: 2vh;
}

@media screen and (max-width: 1450px) {
  .footer-container {
    font-size: calc(6px + 1vmin);
  }


  .wind-gusts {
    font-size: calc(10px + 3vmin);
  }
  .metar {
    font-size: calc(10px + 1.5vmin);
  }

  .sky-conditions,
  .wind-direction {
    font-size: calc(10px + 1.5vmin);
  }

  .small {
    font-size: 18px;
    margin-left: 0;
  }

  .time-component {
    font-size: calc(8px + 2vmin);
  }

  .temp-content {
    font-size: calc(9px + 1vmin);
  }

  .nav-component {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2vw;
    height: 8vh;
    font-size: calc(10px + 0.8vmin);
  }

  .nav-top-half {
    height: 6vh;
  }
  .nav-bottom-half {
    height: 4vh;
  }

  .hangar-cam {
    width: 100%;
  }

  .temp-logos {
    gap: 1vw;
  }

  .navbutton {
    outline: 1px solid black;
    padding: 0.2em 0.5em;
  }

  .navbuttonactive {
    outline: 1px solid black;
    padding: 0.2em 0.5em;
    border-radius: 10px;
  }

  .navbuttonactivelight {
    outline: 1px solid black;
    padding: 0.2em 0.5em;
  }

}

@media screen and (max-width: 1300px) {
  .arrow {
    max-height: 100%;
    max-width: 100%;
    z-index: 1;
  }
  .mini {
    font-size: calc(8px + 1vmin);
  }
  .temp-logos img {
    max-width: 16px;
    max-height: 16px;
  }
  .chart-container {
    height: 72vh;
    margin-top: 4vh;
  }
  .gusts-container {
    height: 71vh;
    margin-top: 5vh;
    width: 100%;
  }
  .aloft-container {
    height: 71vh;
    margin-top: 5vh;
  }
  .my-container {
    height: 71vh;
    margin-top: 5vh;
  }
  .hangar-cam-container {
    height: 72vh;
    margin-top: 4vh;
    width: 90%;
  }
  .windy-radar, .aircraft-tracker {
    height: 74vh;
    margin-top: 2vh;
    width: 100%;
  }
  .detailed-container {
    height: 71vh;
    margin-top: 5vh;
    width: 100%;
  }
  .table {
    border: 2px solid rgb(49, 196, 159);
    font-weight: 500;
  }
  .table-light {
    border: 1px solid rgb(0, 0, 0);
    font-weight: 700;
  }
  .time-container img {
    height: 4vh;
  }
  .time-component {
    font-size: calc(6px + 1.8vmin);
  }

  @media screen and (max-width: 500px) {
    .nav-component a {
      font-size: calc(10px + 1vmin)
    }
    .time-container img {
      height: 7vmin;
    }

  }
}
