.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 7%, rgba(34, 34, 34, .9) 10%, rgba(34, 34, 34, .9) 90%, rgba(28, 169, 180, 1) 95%);
  font-size: calc(10px + 2vmin);
  color: rgb(14, 173, 152);
  overflow: hidden;
}

.Applight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 7%, rgba(255, 255, 255, .5) 10%, rgba(255, 255, 255, .5) 90%, rgba(28, 169, 180, 1) 95%);
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  overflow: hidden;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  min-width: 100vw;
  color: black;
  font-weight: bold;
  /* outline: 1px solid red; */
}

.chart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 84vh;
  width: 80%;
  /* border: 1px solid rgb(255, 0, 0); */
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 8vh;
  min-width: 100vw;
  /* outline: 1px solid rgb(0, 255, 42); */
  color: rgb(119, 119, 119);
}

.temp-content {
  margin-right: 1.2vw;
  font-size: calc(14px + 4vmin);
}

.theme-content {
  display: flex;
  flex-direction: row;
  height: 8vh;
  width: 8vw;
  align-items: center;
  gap: .5vw;
  justify-content: space-around;
  cursor: pointer;
  /* border: 1px solid red; */
}
.fa-solid {
  cursor: pointer;
}

.time-component {
  font-size: calc(10px + 4vmin);
}

.wind-component {
  display: flex;
  flex-direction: column;
  /* outline: 1px solid red; */
  height: 90%;
  width: 90%;
  margin: 2vw 2vh;
}

.wind-component-top {
  display: flex;
  flex-direction: row;
  height: 60%;
  gap: 10vw;
  /* outline: 1px solid green; */
  justify-content: center;
  align-items: center;
}

.wind-component-bottom {
  display: flex;
  flex-direction: row;
  height: 40%;
  gap: 15vw;
  align-items: center;
  /* outline: 1px solid pink; */
}

.wind-speed {
  font-size: calc(10px + 50vmin);
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.wind-speed p {
  font-size: calc(10px + 20vmin);
  z-index: 2;
}

.wind-gusts {
  font-size: calc(10px + 3vmin);
  text-align: center;
}

.wind-direction {
  font-size: calc(10px + 8vmin);
}

.wind-anamometer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* border: 1px solid red; */
}

.metar-abbr {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  height: 100%;
  /* border: 1px solid red; */
  width: 50%;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 60vh;
  max-width: 60vw;
  z-index: 1;
}

.wind-bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  width: 60%;
  height: 100%;
  /* border: 1px solid red; */
}

.sky-conditions {
  font-size: calc(10px + 6vmin);
}

.metar {
  font-size: calc(10px + 4vmin);
}

@media screen and (max-width: 650px) {
  .wind-component-top {
    height: 40%;
    gap: 20vw;
    margin-left: 10vw;
  }
  .wind-component-bottom {
    height: 35%;
    gap: 22vw;
  }

}
@media screen and (max-width: 400px) {
  .wind-component-top {
    height: 30%;
    gap: 20vw;
    margin-left: 8vw;
  }
  .wind-component-bottom {
    height: 20%;
    gap: 18vw;
  }

}
