body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-image: url('./images/xmasbanner.png'), url('./images/csc.jpg');
    background-position: top, 50%;
    background-size: 100% 20vh, cover;
    background-repeat: no-repeat, no-repeat;
}

button, .navbutton, body, span, p, table {
  transition-property: background-color, color;
  transition-duration: .3s;
}

@media screen and (max-width: 768px) {
  body {
    background-size: auto 20vh, cover;
  }
}
