.manifest-content {
  display: grid;
  width: 90%;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.single-load {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  border: 1px solid red;
}

@media screen and (max-width: 600px) {
  .manifest-content {
    grid-template-columns: 1fr 1fr;
  }
}
