.manifest-content {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.single-load {
  display: flex;
  flex-direction: column;
  flex: 1 0 30%;
  min-width: 300px;
  max-width: 33%;
  padding: 10px;
  align-items: center;
  min-height: 50vh;
  background-color: rgba(17, 17, 17, 0.5);
  border-radius: 15px;
}

@media screen and (max-width: 700px) {
  .single-load {
    min-height: 30vh;
    max-width: 80%;
  }
}
